body {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
.home-page,
.quiz-page,
.loader {
  margin: 0;
  padding: 0;
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.button {
  cursor: pointer;
  background-color: #4caf50;
  border: none;
  font-size: 28px;
  color: #ffffff;
  padding: 20px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
}

.quiz-page {
  display: flex;
  flex-direction: column;
}
.options {
  height: 40vh;
  width: 40vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.option {
  margin: 30px;
  height: 50px;
  width: 200px;
  background-color: rgb(76, 173, 32);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
