body {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
.home-page,
.loader {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quiz-page {
  margin: 0;
  padding: 0;
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  justify-content: space-around;
  align-items: center;
}
.button {
  cursor: pointer;
  background-color: #4caf50;
  border: none;
  font-size: 28px;
  color: #ffffff;
  padding: 20px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
}

.quiz-page {
  display: flex;
  flex-direction: column;
}
.options {
  height: 40vh;
  width: 40vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.option {
  margin: 30px;
  height: 50px;
  width: 200px;
  background-color: rgb(76, 173, 32);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.pop {
  position: absolute;
  height: 10vh;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: darkgray;
}
.buttons {
  height: 15vh;
  width: fit-content;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
table {
  width: 100%;
  height: fit-content;
  text-align: center;
  margin: 20px;
}
tr {
  width: 30%;
}
td,
th {
  border: 1px solid #929191;
  padding: 8px;
}

.title {
  background-color: #28a745;
  color: white;
}
img {
  height: 30px;
}
.menu {
  position: absolute;
  background: linear-gradient(to bottom, #fff 0%, #e5e5e5 100px, #e5e5e5 100%);
  height: fit-content;
  width: 10vw;
  min-width: fit-content;
  left: 55%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border: 1px solid black;
  border-radius: 8px;
}
.delete {
  margin-bottom: 20px;
  margin-left: 20px;
  width: 60%;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.delete:hover {
  font-weight: 900;
  background: #abc4ff;
  border-radius: 10px;
}
.column {
  display: flex;
  flex-direction: column;
}
.mt {
  margin-top: 20px;
}
.score {
  height: 30vh;
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
  border: 1px solid #28a745;
  border-radius: 30px;
}
.endQuiz {
  margin: 0;
  padding: 0;
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.latest {
  padding: 10px;
  width: fit-content;
  border: 1px solid #28a745;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #28a745;
  font-size: 30px;
}
